<!DOCTYPE html> 
<html  ng-app> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.min.css" /> 
<!--	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /> -->
	
	<script src="scripts/jquery-1.8.3.min.js"></script>
	 <script src="scripts/angular.min.js"></script>
	<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
	<script src="scripts/jquery.base64.js"></script>
	
	<script src="cordova.js"></script>
	<script src="scripts/getConnection.js"></script>
	<script src="scripts/jsonparser.js"></script> 
    
    
    <link rel="stylesheet" href="scripts/rating/jquery.rating.css" /> 
	
	 <script>
          
		 		
			 $(document).on('pageinit', '#index', function() { 
				 
					 
					  $.getScript('scripts/getHome.js');
				 	$.getScript('scripts/getConnection.js');
                 
                 						
        	                  
                }); 
                $(document).on('pageinit', '#restaurants', function() { 
						 $.getScript('scripts/jsonparser.js');
					  $.getScript('scripts/restaurants.js');
					 $.getScript('scripts/getConnection.js');
					
        	                  
                }); 
		 
		 		 $(document).on('pageinit', '#menuItem', function() { 
					
					 $.getScript('scripts/jsonparser.js');
					$.getScript('scripts/restmenu.js');
                     
                     $.getScript('scripts/rating/jquery.MetaData.js');
                    $.getScript('scripts/rating/jquery.rating.js');
                     
					 $.getScript('scripts/restReview.js');
					  $.getScript('scripts/getConnection.js');
	 				  var prevSelection = "tab1";
					 
			        $("#navbar ul li").live("click",function(){
			        
			        	
			        	var test=$(this).find('span.ui-btn-text').html();
			        	
			        	var tabVal=$('.tabValue').html().split('/');
			        	
			        	 $('.tabValue').html($('.tabValue').html().replace(tabVal[1],test));
			        	
			            var newSelection = $(this).children("a").attr("data-tab-class");
			            $("."+prevSelection).addClass("ui-screen-hidden");
			            $("."+newSelection).removeClass("ui-screen-hidden");
			            prevSelection = newSelection;
			        });
			      

	                  
                });     
		 
                 $(document).on('pagebeforeshow', '#signUp', function myCallback () { 
                 	
					 $.getScript('scripts/signUp.js');
					
	                  
                });   
                 $(document).on('pagebeforeshow', '#cart', function myCallback () { 
					 $.getScript('scripts/simple-app.js');
					 $.getScript('scripts/cart.js');
					  $.getScript('scripts/getConnection.js');
	                  
                }); 
		 
                  $(document).on('pagebeforeshow', '#checkout', function myCallback () { 
					 $.getScript('scripts/getConnection.js');
	                   $.getScript('scripts/checkout.js');
                });   
                $(document).on('pagebeforeshow', '#menuDetail', function myCallback () { 
					 $.getScript('scripts/jsonparser.js');
                    $.getScript('scripts/getConnection.js');
                  
                    $.getScript('scripts/rating/jquery.MetaData.js');
                    $.getScript('scripts/rating/jquery.rating.js');
                    $.getScript('scripts/menuDetails.js');
                    $.getScript('scripts/menuDetailsReview.js');
                     
                    
                     
	                  
                }); 
         
         
                $(document).on('pagebeforeshow', '#signin', function myCallback () { 
					
                     $.getScript('scripts/jsonparser.js');
                    $.getScript('scripts/getConnection.js');
                    $.getScript('scripts/signIn.js');
	                  
                }); 
         $(document).on('pagebeforeshow', '#profile', function myCallback () { 
					
                     $.getScript('scripts/jsonparser.js');
                    $.getScript('scripts/getConnection.js');
                    $.getScript('scripts/profile.js');
                   
	                  
                }); 
                 
    </script>  
	
	<script src="scripts/appVariable.js"></script>
	<!-- <script src="scripts/jsonparser.js"></script> -->
	<script src="scripts/getHome.js"></script>
	
	<script src="scripts/idangerous.swiper-2.0.min.js"></script>
	<script src="scripts/simple-app.js"></script>
	
	
		<!-- scripts for swipe-->
	<link rel="stylesheet" href="styles/custom.css" />
	<!--styles for swipe-->
	<link rel="stylesheet" href="styles/idangerous.swiper.css">
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="styles/simple-app.css">
	<link rel="stylesheet" type="text/css" href="styles/elastislide.css" />
	<script src="scripts/modernizr.custom.17475.js"></script>

    <!-- Menu image Slide  -->
      <link rel="stylesheet" href="styles/owl.carousel.css">
     <link rel="stylesheet" href="styles/owl.theme.css">
     <link rel="stylesheet" href="styles/menusImageSlider.css">
    <link rel="stylesheet" href="styles/indexSlide.css">
    
    <script src="scripts/owl.carousel.js"></script>  
    
    
<style>
@font-face {
    font-family:'robotocondensed';
    src: url('fonts/roboto-condensed-webfont.eot');
    src: url('fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-condensed-webfont.woff') format('woff'),
         url('fonts/roboto-condensed-webfont.ttf') format('truetype'),
         url('fonts/roboto-condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
</style>


    
    
    
    
  
</head> 
<body> 

	
<div data-role="page" class="insideSpacing" id="index">
	

		 <div data-role="panel" id="navigationPanel" data-theme="a" data-display="overlay">
				 <div class="panelNav" id="sideMenu">
				  <ul>
				    <li class="panelnavMain "><a href="services.html">LOGIN</a></li>
      		  	    <li><img src="images/bullet.png"/><a href="signIN.html" data-transition="slide">SIGN IN</a></li>
		            <li><img src="images/bullet.png"/><a href="signUp1.html" data-transition="slide">SIGN UP</a></li>
		            
				  	<li class="panelnavMain "><a href="services.html">MENU</a></li>
      		  	    <li  href="#" class="panelCurrent"><img src="images/bullet.png"/><a>HOME</a></li>
		            <li class=""><img src="images/bullet.png"/><a href="#">HOW IT WORKS</a></li>
		            <li><img src="images/bullet.png"/><a href="#">ABOUT US</a></li>
		           <li><img src="images/bullet.png"/><a href="#">CONTACT US</a></li>
		            <li class=""><img src="images/bullet.png"/><a href="#">GALLERY</a></li>
		            <li><img src="images/bullet.png"/><a href="#">TOP DEALS</a></li>
                  </ul>	
				 </div>
			</div>	
			

	<div data-role="header" class="topLogoArea">
		<img src="images/logo.png" alt="" width="160" class="logo"/>
		
		
	<a  href="#navigationPanel" class="dodgeIcon"><img src="images/menu_icon.png" style="margin-top:20px;margin-left:-5px;"/></a>
	
		
<div class="sectionBorder">
	</div>

		
	</div><!-- /header -->
	
	
	<div data-role="content" class="innerForm" ng-controller="homePage">	
		
	
	<div class="overlay" style="display:none">
    <div class="overlay-content">
    <ul id='tas_list' data-role='listview' data-theme="e">
            <li><a href="signIn.html"  data-transition="slide" >SIGN IN</a></li>
            <li><a href="signUp.html"  data-transition="slide" >SIGN UP</a></li>
        </ul>
    </div>
</div>
	
	

		
	
	<fieldset>
        
	       <div class="ui-grid-a ui-responsive formOption"  >
				<div class="ui-block-a" >
					<div class="ui-body ui-body-d">
				<select  data-mini="true" ng-model="zone_name" ng-options="c.ZoneName for c in zonedata" ng-change="onchangeZone()" >
						
						<option value="" >Select Zone </option>
							
				</select>
					</div>
				</div>
				
				<div class="ui-block-b">
					<div class="ui-body ui-body-d">
					<select  data-mini="true" id="city" ng-model="city_name" ng-options="d.cityname  for d in zone_name.Citys" ng-change="onchangeCity()">
							
								<option value="" selected="selected">Select City</option>
							
					</select>	
					
					</div>
				</div>
				
				
		</div>
		
		
		
		
		<div class="centerText">
				<h5><span>OR SEARCH WITH</span></h5>
			</div>
		
		<div>
		<select name="select-choice-1"  data-mini="true"  ng-model="rest_name" ng-options="e.restaurantName for e in rest" ng-change="onchangeRest()">
							
							<option value="">Select Restuarant</option>
						
				</select>
				
				
		
				
				
		</div>	
		
		<input type="text" name="name" id="itemName" value="" placeholder="Item Name" onkeyup="restNameChange()"/>	
		<input type="text" name="name" id="itemDesc" value="" placeholder="Food Description"  onkeyup="restNameChange()"/>	
		<div id="submitbtn">
			
	</fieldset>	
  
	<div class="sectionBorder">
	</div>	
	
	<div class="featuredRestuarantBox">
		<h3>FEATURED RESTAURANT</h3>
		
        
         <div id="slideIndex" class="owl-carousel ">
                
        
 
        </div>
        
		          <!-- Elastislide Carousel 
          <ul id="carousel" class="elastislide-list">
            <li><a href="#"><img src="images/OUR PARTNERS_logo_1.png" alt="image01" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_2.png" alt="image02" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_3.png" alt="image03" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_4.png" alt="image04" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_1.png" alt="image01" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_2.png" alt="image02" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_3.png" alt="image03" /></a></li>
            <li><a href="#"><img src="images/OUR PARTNERS_logo_4.png" alt="image04" /></a></li>
          </ul>
          <!-- End Elastislide Carousel -->

		
	</div>	
		
	<div class="bottomBanner" id="bannerAd">
	</div>	
		
		
		
	</div><!-- /content -->
	
  
<div data-role="footer" data-position="fixed" style="text-align:center">
	
	</div><!-- /footer -->


	

</div><!-- /page -->



		

<!-- Placed at the end of the document so the pages load faster -->
 <script type="text/javascript" src="scripts/jquery.elastislide.js"></script>
<script type="text/javascript">	

$(document).ready(function() {
  $( '#carousel' ).elastislide();	

 });	
		</script>
</body>
</html>